.card {
	box-shadow: 0 2px 12px rgba(0,0,0,.0623361);
	border-top: 2px solid #fbb933;
	.cardHeader{
		margin-bottom: 10px;
		.flex {
			display: flex;
			flex-direction: column;
			padding-bottom: 10px;
			font-size: 12px;
			color: #48484f;
			padding-bottom: 50px;
			span {
				font-weight: bold;
			}		
		}
	}
	.carouselTitle {	
		padding: 5%;
	}
	.truncate {
		width: 90%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.cardFooter {
		font-size: 12px;
		span {
			font-weight: bold;
		}
		p {
			margin: 0;
			padding-top: 15px;
			span {
				color: #d4cfcf;
				font-size: 18px;
			}
		}
	}
}
