.card {
	box-shadow: 0 2px 12px rgba(0,0,0,.0623361);
	border-top: 2px solid #fbb933;
	padding: 15px;
	.cardBody{
		padding : 0;
	}
	.cardHeader{
		margin-bottom: 10px;
		.flex {
			display: flex;
			flex-direction: column;
			padding-bottom: 10px;
			font-size: 12px;
			color: #48484f;
			padding-bottom: 30px;
			span {
				font-weight: bold;
			}		
		}
	}
	.carouselTitle {	
		font-size: 16px;
	}
	.truncate {
		width: 90%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.cardFooter {
		font-size: 12px;
		span {
			font-weight: bold;
		}
		p {
			margin: 0;
			padding-top: 15px;
			span {
				color: #d4cfcf;
				font-size: 18px;
			}
		}
	}
	.cardAddon {
		display: flex;
		span {
			font-size: 12px;
			padding-right: 10px;
			position: relative;
			&:after {
				position: absolute;
				right: 4px;
				top: 2px;
				height: 70%;
				width: 1px;
				background-color: gray;
				content: '';

			}
			&:last-child {
				&:after {
				display: none;
				}
			}
		}
	}
}
