.card{
	box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
.cardHeader{
	border-bottom: 1px solid #ECECEC;
	margin-bottom: 10px;
	.flex {
		display: flex;
		padding-bottom: 10px;
		
		span {
			position: relative;
			padding-right: 15px;
			&::after{
				position: absolute;
				content: '';
				right: 5px;
				top: 3px;
				height: 70%;
				width: 1px;
				background-color: #b5a0a0;
			}
			&:last-child{
				&::after {
					display: none;
				}
			}
		}
	}
	.ellipsis{
		white-space: nowrap; 
		width: 100%; 
		overflow: hidden;
		text-overflow: ellipsis; 
		color: #595fbf;
	}
}
}