.header{
    background-color: #595fbf;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
}
.headingSection{
    text-align: center;
    padding: 20px 0;
}
.requestSection {
    padding: 20px 0;
    .requestBtn {
        display: flex;
        justify-content: center;
        .requestList{
            border: 0;
            padding: 0 5px;
        }
    }
}
.formSection, .requestSection, .headingSection {
    background-color: #f7f7f7;
}
