.header{
	background-color: #5e919e;
	box-shadow: 0 0 7px rgba(0,0,0,.1);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	padding: 0 20px
}

.darkBg{
	background-color: #5e919e;
	padding: 20px;
	.menuWrapper{
		.menulist{
			.menu{
				color: #fff;
				font-size: 15px;
				padding: 5px 10px;
				&:hover {
					color: #14c2ae;
				}
			}
		}
	}
	.logoText {
		color: #fff;
	}
}

.searchBtn {
	padding-right: 20px;
    display: flex;
    align-items: center;
	color: white;
	span {
		font-size: 20px;
	}
}
.createBtn {
	button {
	display: flex;
	align-items: center;
	span {
		font-size: 18px;
		padding-left: 10px;
	}
	}
}